<template lang="pug">
v-app
  v-snackbar(:timeout='3000'
          :top='true'
          :right='true'
          :color="snackbar().context"
          :vertical='false'
          rounded='pill'
          v-model='toast') {{ snackbar().message }}
    template(v-slot:action="{ attrs }")
      v-btn(dark
        text
        v-bind="attrs"
        @click.native='toast = false') Close
  transition(name="slide-fade" mode="out-in")
    router-view
</template>

<script>
import api from '@/services/api'

export default {
  name: 'app',
  data () {
    return {
    }
  },

  methods: {
    snackbar () {
      return this.$store.state.toast
    }
  },

  async created () {
    try {
      api.getUserProfile().then(profile => {
        if (profile) {
          console.log('logged in')
          this.$store.dispatch('setClaims', profile)

          if (this.$router.currentRoute.path === '/') {
            this.$router.push({ path: '/dashboard' })
          }
          console.log(`${this.$router.currentRoute.name} component succesfully loaded and ready to use`)
        } else {
          console.log('not logged in')
          api.login()
        }
      })
    } catch (error) {
      console.log(error)
    }
  },

  computed: {
    toast: {
      get () {
        return this.$store.state.toastVisible
      },
      set (value) {
        this.$store.commit('toastVisible', value)
      }
    }
  }
}
</script>
