<template lang="pug">
v-flex
  transition(name="slide-fade" mode="out-in")
    router-view
</template>

<script>
import api from '@/services/api'
import lifecycleMixins from '@/mixins/lifecycleMixins'

export default {
  mixins: [lifecycleMixins],
  mounted () {
    const self = this

    if (!this.$store.state.maintenanceStatuses || this.$store.state.maintenanceStatuses.length === 0) {
      api.getMaintenanceStatuses().then(data => {
        self.$store.commit('cacheMaintenanceStatuses', data)
      }).catch(error => {
        self.toast('error', error)
      })
    }

    if (!this.$store.state.maintenancePriorities || this.$store.state.maintenancePriorities.length === 0) {
      api.getMaintenancePriorities().then(data => {
        self.$store.commit('cacheMaintenancePriorities', data)
      }).catch(error => {
        self.toast('error', error)
      })
    } else {
      this.priorities = this.$store.state.maintenancePriorities
    }

    if (!this.$store.state.locations || this.$store.state.locations.length === 0) {
      api.getLocations().then(data => {
        self.$store.commit('cacheLocations', data)
        this.locations = data
      }).catch(error => {
        self.toast('error', error)
      })
    }

    if (!this.$store.state.managers || this.$store.state.managers.length === 0) {
      api.getManagers().then(data => {
        self.$store.commit('cacheManagers', data)
      }).catch(error => {
        self.toast('error', error)
      })
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
