<template lang="pug">
div
  v-app-bar(color='primary')
    v-app-bar-nav-icon(@click='drawer = !drawer')
    slot(name='toolbar')

  v-navigation-drawer(:mini-variant='mini' v-model='drawer' temporary absolute hide-overlay)
    v-app-bar.ml-n2.transparent(flat)
      v-list.pa-0
        v-list-item.pa-0
          v-list-item-avatar
            v-icon person
          v-list-item-content
            v-list-item-title {{ userName }}
          v-list-item-action
            v-btn(icon @click.native.stop='logout')
              v-icon power_settings_new
            // v-btn(icon @click.native.stop='toggleVariant')
            //   v-icon chevron_left
    v-list.pt-0(dense)
      v-divider
      v-list-item(to='/dashboard')
        v-list-item-action
          v-icon play_circle_outline
        v-list-item-content
          v-list-item-title Pendentes
      v-list-item(to='/interventions/history')
        v-list-item-action
          v-icon replay
        v-list-item-content
          v-list-item-title Histórico
      v-list-item(to='/interventions')
        v-list-item-action
          v-icon build
        v-list-item-content
          v-list-item-title Nova intervenção
</template>

<script>
import api from '@/services/api'

export default {
  data () {
    return {
      drawer: false
    }
  },
  methods: {
    toggleVariant () {
      this.$store.commit('drawer', !this.mini)
    },
    logout () {
      console.log('logout called.')
      api.logout()
    }
  },
  computed: {
    userName () {
      return this.$store.getters.userName || 'Técnico'
    },
    mini () {
      return this.$store.state.drawer
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
