<template>
  <div class="main">
    <h1>{{ msg }}</h1>
    <button @click="getUserInfo()">get user info</button>
    <ul v-for="item in getUser" :key="item.id">
      <UserInfo
        v-bind:id="item.id"
        v-bind:app="item.app"
        v-bind:email="item.email"
        v-bind:username="item.username"
        v-bind:uid="item.UID"
      >
      </UserInfo>
    </ul>
  </div>
</template>

<script>
import UserInfo from './UserInfos.vue'
export default {
  name: 'HelloWorld',
  components: { UserInfo },
  props: {
    msg: String
  },
  methods: {
    getUserInfo () {
      this.$store.dispatch('getUserInfo')
    }
  },
  computed: {
    getUser () {
      return this.$store.state.userInfo
    }
  }
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
