<template>
  <div class="home">
    <ShowUsers msg="Build a UI with Vuetify and show the Users" />
  </div>
</template>

<script>
import ShowUsers from '@/components/ShowUsers.vue'

export default {
  name: 'Home',
  components: {
    ShowUsers
  }
}
</script>
<style>
h1 {
  margin: 40px 0 0;
  color: red;
}
</style>
