<template>
  <li>
    {{ email }}
    {{ username }}
    {{ app }}
    {{ uid }}
  </li>
</template>

<script>
export default {
  props: {
    app: {
      type: String,
      required: true
    },
    email: String,
    id: Number,
    username: String,
    uid: Number
  }
}
</script>

<style></style>
