<template lang="pug">
v-list(color='transparent')
  v-subheader {{ label || '' }}
  v-list-group(v-for='(item, i) in items' :key='i' no-action sub-group)
    template(v-slot:activator)
      v-list-item-content
        v-list-item-title {{ item.name }}
    v-list-item(v-for='(subItem, j) in item.numbers' :key='subItem')
      v-list-item-title {{ subItem }}
</template>

<script>
export default {
  props: [
    'label',
    'value'
  ],
  computed: {
    items () {
      if (!this.value) {
        return []
      }

      const items = JSON.parse(this.value)
      return items.map(el => {
        const numbers = el.PhoneNumber.split('\r\n')
        return {
          id: el.Id,
          name: el.Name,
          numbers: numbers
        }
      })
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
