<template lang="pug">
v-layout
  v-flex(xs12)
    //- Navigation needed?
    v-app-bar(color='primary')
      //- v-app-bar-nav-icon
      v-toolbar
        v-btn(icon @click.native.stop='close')
          v-icon close
        | Materiais
    v-list
      v-subheader
        v-text-field(placeholder='Pesquisar'
                    v-model='filter'
                    prepend-icon='search'
                    clearable)
      v-list-item(v-for='(item, index) in filteredData' :key='index' @click='selected(item)')
        v-list-item-content
          v-list-item-title(v-text='item.name')
</template>

<script>
import materialsService from '@/services/materials'
import lifecycleMixins from '@/mixins/lifecycleMixins'

export default {
  mixins: [lifecycleMixins],
  data () {
    return {
      filter: '',
      materials: []
    }
  },
  mounted () {
    this.fetch()
  },
  methods: {
    fetch (interventionid, reportid) {
      materialsService.getMaterials().then(data => {
        this.materials = data
      }).catch(error => {
        this.toast('error', error)
      })
    },
    selected (item) {
      this.$emit('selected', item)
    },
    close () {
      this.$emit('close')
    }
  },
  computed: {
    filteredData () {
      if (this.filter) {
        return this.materials.filter((el) => {
          return el &&
                el.name &&
                el.name.toUpperCase().indexOf(this.filter.toUpperCase()) !== -1
        })
      } else {
        return this.materials
      }
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
