<template lang="pug">
div
  //- Navigation needed?
  v-app-bar(color='primary')
    v-app-bar-nav-icon(@click='goBack')
      template(slot='default')
        v-icon arrow_back
    v-toolbar(short
              flat
              color='primary')
      | Nova Intervenção

  v-container
    v-layout
      v-form(ref='form')
        v-autocomplete(label="Local"
          :items="$store.state.locations"
          v-model="intervention.locationId"
          prepend-icon="location_city"
          item-value="id"
          item-text="name"
          single-line
          :rules="[v => !!v || 'Local obrigatório!']"
          required)
        v-datetime-picker(label="Data" clearText="" v-model="intervention.createdOn")
        v-textarea(label="Observações:" v-model="intervention.initialObservations")

        v-fab-transition
          v-btn.elevation-5(color='primary' fab bottom float-right fixed @click.native.stop='submit')
            v-icon save
</template>

<script>
import interventionsService from '@/services/interventions'
import lifecycleMixins from '@/mixins/lifecycleMixins'

export default {
  mixins: [lifecycleMixins],
  data () {
    return {
      intervention: {
        createdOn: new Date(),
        priorityId: 2,
        statusId: 2,
        initialObservations: '',
        contacts: ''
      }
    }
  },
  methods: {
    submit () {
      this.intervention.createdBy = this.userId
      this.intervention.technicianId = this.technicianId
      this.intervention.createdOn = this.intervention.createdOn || new Date()

      if (this.$refs.form.validate()) {
        interventionsService.createIntervention(this.intervention).then(data => {
          this.toast('success', 'Intervenção criada')

          this.$router.push({ name: 'intervention_edit', params: { id: String(data), context: 'edit' } })
        }).catch(error => {
          this.toast('error', error)
        })
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
  form
    width: 100%
</style>
