<template lang="pug">
div
  div(v-show='!materialList')
    //- Navigation needed?
    v-app-bar(color='primary')
      v-app-bar-nav-icon(@click.native.stop='goBack')
      template(slot='default')
        v-icon arrow_back
      v-toolbar(short
                flat
                color='primary')
        | Pedido: {{ report.interventionId || 0 }} | Relatório: {{ report.id || 0 }}

    v-container
      v-layout
        v-form(ref='form')
          v-layout(wrap)
            v-flex(xs6)
              v-text-field(label='Data'
                            :value='new Date().toISOString().substr(0, 10)'
                            readonly)
            v-flex(xs6)
              v-menu(ref='durationMenu'
                    :close-on-content-click='false'
                    v-model='durationPicker'
                    transition='scale-transition'
                    offset-y
                    :nudge-right='40'
                    max-width='290px'
                    min-width='290px')
                template(v-slot:activator="{ on }")
                  v-text-field(slot='activator'
                              label='Duração'
                              v-model='duration'
                              v-on='on'
                              :rules='[rules.required]'
                              prepend-icon='access_time'
                              readonly)
                v-time-picker(v-model='duration' format='24hr' full-width @change='$refs.durationMenu.save(duration)')
          v-layout(wrap)
            v-flex(xs6)
              v-menu(ref='startMenu'
                    :close-on-content-click='false'
                    v-model='startPicker'
                    transition='scale-transition'
                    offset-y
                    :nudge-right='40'
                    max-width='290px'
                    min-width='290px')
                template(v-slot:activator="{ on }")
                  v-text-field(slot='activator'
                              label='Hora de início'
                              v-model='timeStart'
                              v-on='on'
                              :rules='[rules.required]'
                              prepend-icon='access_time'
                              readonly)
                v-time-picker(v-model='timeStart' format='24hr' full-width @change='$refs.startMenu.save(timeStart)')
            v-flex(xs6)
              v-menu(ref='endMenu'
                    :close-on-content-click='false'
                    v-model='endPicker'
                    transition='scale-transition'
                    offset-y
                    :nudge-right='40'
                    max-width='290px'
                    min-width='290px'
                    :return-value.sync='timeEnd')
                template(v-slot:activator="{ on }")
                  v-text-field(slot='activator'
                              label='Hora de fim'
                              v-model='timeEnd'
                              v-on='on'
                              :rules='[rules.required]'
                              prepend-icon='access_time'
                              readonly)
                v-time-picker(v-model='timeEnd' format='24hr' full-width @change='$refs.endMenu.save(timeEnd)')

          v-textarea(label='Observações' v-model='observations')

          v-list(v-if='allowMaterials' two-line)
            v-subheader
              v-icon.mr-2(float-left small) build
              | Materiais
              v-spacer
              v-fab-transition
                v-btn(small
                      text
                      icon
                      color='secondary'
                      @click.native.stop='materialList = true')
                  v-icon add
            template(v-for='(item, index) in materials')
              v-list-item(ripple :key='index')
                v-list-item-content
                  v-layout
                    v-flex(xs1)
                      v-text-field(type='number' :rules='[rules.required, rules.positiveNumber]' v-model='item.quantity' min='0' :prefix='item.unit')
                    v-spacer
                    v-flex(xs8)
                      v-text-field(:value='item.name' readonly)
                    v-flex.my-auto.text-xs-right(xs2 @click.stop='removeMaterial(index)')
                      v-icon delete

  #materials(v-show='materialList')
    material-list(@selected='onMaterialAdded' @close='onMaterialListClose')

  v-fab-transition(v-show='!materialList')
    v-btn.elevation-5(fab color='primary' bottom float-right fixed @click.native.stop='submit')
      v-icon save
</template>

<script>

import interventionsService from '@/services/interventions'
import lifecycleMixins from '@/mixins/lifecycleMixins'
import dateMixins from '@/mixins/dateMixins'
import formRules from '@/mixins/formRules'
import MaterialList from '@/components/materials/MaterialList'

export default {
  mixins: [lifecycleMixins, dateMixins, formRules],
  data () {
    return {
      timeStart: null,
      timeEnd: null,
      duration: null,
      observations: '',
      materials: [],

      report: {},
      startPicker: false,
      endPicker: false,
      durationPicker: false,
      materialList: false
    }
  },
  props: {
    interventionid: {
      type: String,
      required: true
    },
    reportid: {
      type: String,
      required: true
    },
    context: {
      type: String,
      required: true
    }
  },
  components: {
    'material-list': MaterialList
  },
  mounted () {
    this.fetch(this.interventionid, this.reportid)
  },
  methods: {
    fetch (interventionid, reportid) {
      interventionsService.getInterventionReport(interventionid, reportid).then(data => {
        this.report = data
        const startDate = this.roundDate(new Date(data.dateStart))

        this.report.estimatedDateStart = startDate
        this.timeStart = `${this.addZero(startDate.getHours() || 0)}:${this.addZero(startDate.getMinutes() || 0)}`

        const now = this.roundDate(new Date())
        this.timeEnd = `${this.addZero(now.getHours() || 0)}:${this.addZero(now.getMinutes() || 0)}`

        const duration = Math.floor(now - startDate)
        this.duration = this.formatTime(duration)

        this.materials = data.materials || []

        // TODO : ler descricoes de materials da materiallist
      }).catch(error => {
        this.toast('error', error)
      })
    },
    addZero (i) {
      if (i < 10) {
        i = '0' + i
      }
      return i
    },
    scrollToBottom () {
      this.scrollTo(document.body.scrollHeight || document.documentElement.scrollHeight)
    },
    scrollTo (height) {
      this.$nextTick(() => {
        window.scrollTo(0, height)
      })
    },
    onMaterialAdded (item) {
      const material = this.materials.find(el => el.id === item.id)
      if (material) {
        material.quantity++
      } else {
        item.materialId = item.id
        item.id = 0
        item.quantity = 1
        this.materials.unshift(item)
      }

      this.onMaterialListClose()
    },
    onMaterialListClose () {
      this.materialList = false
    },
    removeMaterial (index) {
      this.materials.splice(index, 1)
    },
    submit () {
      if (this.$refs.form.validate()) {
        const now = this.roundDate(new Date())

        const report = {
          id: this.report.id,
          interventionId: this.report.interventionId,

          materials: this.materials,
          observations: this.observations,
          dateStart: this.timeStart,
          dateEnd: this.timeEnd,

          duration: this.formatTimeString(this.duration) || 0, // minutes
          estimatedDateStart: `${this.addZero(this.report.estimatedDateStart.getHours() || 0)}:${this.addZero(this.report.estimatedDateStart.getMinutes() || 0)}`,
          estimatedDateEnd: `${this.addZero(now.getHours() || 0)}:${this.addZero(now.getMinutes() || 0)}`,
          estimatedDuration: Math.floor(((now - this.report.estimatedDateStart) || 0) / 60000) // minutes
        }

        interventionsService.updateReport(report, this.context).then(data => {
          this.toast('success', this.context === '4' ? 'Intervenção suspensa' : 'Intervenção finalizada')
          this.$router.push('/dashboard')
        }).catch(error => {
          this.toast('error', error)
        })
      }
    }
  },
  computed: {
    allowMaterials () {
      return true
    }
  }
}
</script>

<style lang="stylus" scoped>
  form
    width: 100%
  .list
    margin-left: -24px
    margin-right: -24px
</style>
