<template lang="pug">
div
  //- Navigation needed?
  v-app-bar(color='primary')
    v-app-bar-nav-icon(@click='goBack')
      template(slot='default')
        v-icon arrow_back
    v-toolbar(short
              flat
              color='primary')
      | Pedido: {{ intervention.id }}

  v-container
    v-layout
      v-form
        v-select(label="Local" :items="$store.state.locations" :value="intervention.locationId" item-value="id" item-text="name" prepend-icon="location_city" readonly single-line)
        v-text-field(label="Reportado por:" :value="managerName(intervention.createdBy) || userName" readonly)
        v-text-field(label="Reportado em:" :value="getDate(intervention.createdOn)" readonly)
        v-text-field(label="Dias de atraso:" :value="Math.floor((new Date() - intervention.createdOn) / (1000*60*60*24))" readonly)
        v-textarea(label="Observações:" :value="intervention.initialObservations" readonly)
        contact-list(label="Contactos:" :value="intervention.contacts")

  v-bottom-navigation(fixed :value='currentStatus' background-color='primary' v-if='!readOnly')
    v-btn(text color='black' value='3' :disabled='!isActiveStatus(3)' @click.native.stop="newReport")
      span Iniciar
      v-icon play_arrow
    v-btn(text color='black' value='4' :disabled='!isActiveStatus(4)' @click.native.stop="execute(4)")
      span Suspender
      v-icon pause
    v-btn(text color='black' value='5' :disabled='!isActiveStatus(5)' @click.native.stop="execute(5)")
      span Finalizar
      v-icon stop

  v-dialog(v-model='dialog' v-if='!readOnly')
    v-card
      v-card-title.headline Serviços pendentes
      v-card-text
        | Ainda existem {{ pendingInterventions }} serviço(s) pendentes para este Local.
      v-card-actions
        v-spacer
        v-btn(color='green darken-1' text @click='dialog = false')
          | Ok
</template>

<script>
import interventionsService from '@/services/interventions'
import lifecycleMixins from '@/mixins/lifecycleMixins'
import ContactList from '@/components/contacts/ContactList'

// https://serversideup.net/uploading-files-vuejs-axios/

export default {
  mixins: [lifecycleMixins],
  data () {
    return {
      intervention: {},
      currentStatus: 0,
      dialog: false,
      pendingInterventions: 0
    }
  },
  props: {
    id: {
      type: String,
      required: true
    },
    context: {
      type: String,
      required: false
    }
  },
  components: {
    'contact-list': ContactList
  },
  mounted () {
    this.fetch(this.id)
  },
  methods: {
    fetch (id) {
      interventionsService.getIntervention(id).then(data => {
        data.createdOn = Date.parse(data.createdOn) || data.createdOn
        this.intervention = data
        this.currentStatus = this.intervention.statusId
      }).catch(error => {
        this.toast('error', error)
      })
    },
    isActiveStatus (status) {
      switch (this.intervention.statusId) {
        case 2: return status === 3 // Atribuido
        case 3: return status === 4 || status === 5 // Iniciado
        case 4: return status === 3 || status === 5 // Suspenso
        default: return false // Finalizado
      }
    },
    getDate (dateEpoch) {
      const date = new Date(dateEpoch)

      let month = date.getMonth() + 1
      if (month < 10) {
        month = '0' + month
      }

      let day = date.getDate()
      if (day < 10) {
        day = '0' + day
      }

      return date.getFullYear() + '-' + month + '-' + day
    },
    newReport () {
      interventionsService.createReport(this.intervention.id).then(data => {
        this.toast('success', 'Intervenção iniciada')
        this.intervention.statusId = 3
        this.intervention.currentReportId = data.id

        if (data.pendingInterventions && data.pendingInterventions > 0) {
          this.pendingInterventions = data.pendingInterventions
          this.dialog = true
        }
      }).catch(error => {
        this.toast('error', error)
      })
    },
    execute (action) {
      this.$router.push(`/interventions/${this.intervention.id}/reports/${this.intervention.currentReportId}/${action}`)
    }
  },
  computed: {
    readOnly () {
      return this.context !== 'edit'
    }
  }
}
</script>

<style lang="stylus" scoped>
  form
    width: 100%
</style>
