<template lang="pug">
v-flex
  transition(name="slide-fade" mode="out-in")
    router-view
  //- Navigation needed?
  v-app-bar(color='primary')
    v-app-bar-nav-icon(@click='goBack')
      template(slot='default')
        v-icon arrow_back
    v-toolbar(short
              flat
              color='primary')
      | History

  v-container(fluid)
      v-row(align="center")
        v-col(class="d-flex" cols="12" sm="3")
          v-select(v-model="locationId" :items="locations" label="Location" item-text="name" item-value="id")
        v-col(class="d-flex" cols="12" sm="3")
          v-text-field(v-model="searchFilter" hint="Search term filter" label="Search")
        v-col(class="d-flex" cols="12" sm="2")
          v-container(fluid)
            v-combobox(v-model="sort" :items="items" :search-input.sync="sortSearch" hide-selected label="Sort" multiple persistent-hint small-chips)
              template(v-slot:no-data)
                v-list-item
                  v-list-item-content
                    v-list-item-title
                      Press <kbd>enter</kbd> to create a new sort input
        v-col(class="d-flex" cols="12" sm="1")
          v-text-field(v-model="page" hint="Integer field" label="Page")
        v-col(class="d-flex" cols="12" sm="1")
          v-select(v-model="includePending" :items="includePendingItems" label="Include Pending")
        v-col(class="d-flex" cols="12" sm="1")
          v-select(v-model="pageSize" :items="pageSizeItems" label="Page Size")
        v-col(class="d-flex" cols="12" sm="1")
          v-btn(class="mx-2" fab dark small color="primary" @click="() => getInterventionsHistory()")
            v-icon(dark) mdi-magnify

  v-data-table(:headers="headers" :items="interventionsHistory.items" item-key="id" class="elevation-1")
</template>

<script>
import interventions from '@/services/interventions'
import lifecycleMixins from '@/mixins/lifecycleMixins'

export default {
  name: 'interventions_history',
  mixins: [lifecycleMixins],
  data () {
    return {
      interventionsHistory: {},
      locationId: '',
      page: 1,
      pageSize: 20,
      items: [],
      sort: '',
      search: '',
      sortSearch: '',
      searchFilter: '',
      includePending: true,
      pageSizeItems: [20, 50, 100],
      includePendingItems: [true, false],
      headers: [
        { text: 'Intervention Id', value: 'id', align: 'start' },
        { text: 'Start Date', value: 'dateStart' },
        { text: 'End Date', value: 'dateEnd' },
        { text: 'Description', value: 'description' },
        { text: 'Status Id', value: 'statusId' },
        { text: 'Status', value: 'status' }
      ]
    }
  },
  methods: {
    getInterventionsHistory () {
      const self = this
      if (typeof this.sort === 'object' && this.sort.length === 0) {
        this.sort = ''
      }
      interventions.findInterventions(this.locationId, this.page, this.pageSize, this.sort, this.searchFilter, this.includePending).then(data => {
        this.interventionsHistory = data
        self.$store.commit('cacheInterventionsHistory', data)
      }).catch(error => {
        self.toast('error', error)
      })
    }
  },
  computed: {
    locations () {
      return this.$store.state.locations
    }
  },
  mounted () {
    const self = this
    if (this.$store.state.interventions || this.$store.state.interventions.length > 0) {
      if (this.locationId === '' && this.$store.state.locations && this.$store.state.locations.length >= 1) {
        this.locationId = this.$store.state.locations[0].id
      }
      interventions.findInterventions(this.$store.state.locations[0].id, this.page, this.pageSize, this.sort, this.search, this.includePending).then(data => {
        this.interventionsHistory = data
        self.$store.commit('cacheInterventionsHistory', data)
      }).catch(error => {
        self.toast('error', error)
      })
    }
  }
}
</script>

<style lang="stylus" scoped>

</style>
