<template lang="pug">
div
  vuetest-navigation()
    template(slot='toolbar')
      v-toolbar(short
                flat
                color='primary')
        | Intervenções ({{ filteredData.length }})
      v-menu(close-on-click
             close-on-content-click
             offset-y)
        template(v-slot:activator='{ on, attrs }')
          v-btn(icon v-on='on' v-bind='attrs')
            v-icon apps
        v-list
          v-list-item(v-for='item in priorityFilterList' :key='item.id' @click='filter(item)')
            div.priority.mr-2(:class='getColor(item)')
            v-list-item-title {{ item.name }}

  v-layout
    v-flex
      v-card

        v-list(dense)
          template(v-for='(item, index) in filteredData')
            v-list-item(:key='item.id' @click='select(item.id)')
              div.priority.mr-2(:class='getColor(item.priorityId)')
              v-list-item-content
                v-list-item-title {{ getLocationName(item.locationId) }}
                v-list-item-subtitle
                  v-layout
                    v-flex.xs4 Atraso: {{ Math.floor((new Date() - item.createdOn) / (1000*60*60*24)) }} dias
                    v-flex.xs4 Pedido: {{ item.id }}
                    v-flex.xs4 Estado: {{ getStatus(item.statusId) }}
</template>

<script>
import interventionsService from '@/services/interventions'
import lifecycleMixins from '@/mixins/lifecycleMixins'

import navigation from '@/components/Navigation'

export default {
  mixins: [lifecycleMixins],
  components: {
    'vuetest-navigation': navigation
  },
  data () {
    return {
      interventions: [],
      priorityFilter: null
    }
  },
  mounted () {
    const self = this

    interventionsService.getInterventions().then(data => {
      this.interventions = data.filter(e => {
        const visible = e.statusId > 1 && e.statusId < 5
        if (visible) {
          e.createdOn = Date.parse(e.createdOn) || e.createdOn
          e.currentReportStartDate = Date.parse(e.currentReportStartDate) || e.currentReportStartDate
        }

        return visible
      })
    }).catch(error => {
      self.toast('error', error)
    })
  },
  methods: {
    getColor (priority) {
      if (typeof priority === 'number' && this.$store.state.maintenancePriorities) {
        priority = this.$store.state.maintenancePriorities.find(el => el.id === priority)
      }

      if (priority && priority.options && priority.options !== '') {
        const color = JSON.parse(priority.options).color
        return color || 'black'
      } else {
        return 'white'
      }
    },
    getStatus (id) {
      if (this.$store.state.maintenanceStatuses) {
        var status = this.$store.state.maintenanceStatuses.find(el => el.id === id)
        if (status) {
          return status.name
        }
      }

      return id
    },
    getLocationName (id) {
      const item = this.$store.state.locations && this.$store.state.locations.find(el => el.id === id)
      return (item && item.name) || id || ''
    },
    filter (item) {
      if (!item || item.id === 0) {
        this.priorityFilter = null
      } else {
        this.priorityFilter = item
      }
    },
    select (id) {
      this.$router.push({ name: 'intervention_edit', params: { id: String(id), context: 'edit' } })
    }
  },
  computed: {
    priorityFilterList () {
      const list = this.$store.state.maintenancePriorities && this.$store.state.maintenancePriorities.slice(0)
      if (list && !list.find(el => el.id === 0)) {
        list.unshift({ id: 0, name: '-- All --' })
      }

      return list
    },
    filteredData () {
      if (!this.priorityFilter) {
        return this.interventions
      } else {
        return this.interventions.filter(el => el.priorityId === this.priorityFilter.id)
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.priority
    width: 16px
    height: 16px

</style>
